/* W3SchoolExample
@media screen and (min-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
} */

@media screen and (max-width: 420px) {
 
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    
      .row {
        width: 100%;
      }
      
      /* BLOCCO LEZIONI */
      #lezioni .row>.left,
      #lezioni .row>.right {
        width: 100%;
        float: none;
      }
      
      #lezioni .row img {
        /* per centrare orizzontalmente */
        width: 100%;
      }
      
      #lezioni {
        text-align: center;
      }
      
      /* BLOCCO STEPS */
      #steps .row>.left,
      #steps .row>.central,
      #steps .row>.right {
        float: none;
        width: 100%;
      }
      
      #steps {
        text-align: center;
      }
      
      /* BLOCCO PERCHE */
      #why {
        text-align: center;
      }
      
      #why .row>.first,
      #why .row>.second,
      #why .row>.third {
        width: 100%;
        margin-top: 80px;
      }
      
      #why .row img {
        background-color: #428bca;
        border-radius: 50%;
        padding: 30px
      }
      
      /* COMMON */
      .row::after {
        content: '';
        display: table;
        clear: both;
      }
      
      .container.grey {
        background-color: #f9f9f9;
      }
      
      img {
        height: 200px;
      }
      
      .clear {
        clear: both;
      }

}
